.DS_Store
offline/visualization/spec_left.npy
offline/visualization/spec_rest.npy
node_modules
.vscode
offline/data/March22_008/8to9_008_OpenBCI-RAW-2019-03-22_13-49-24.txt
offline/data/March22_001/
1to5_001_OpenBCI-RAW-2019-03-22_15-56-26.txt
offline/data/March22_001/6to7_001_OpenBCI-RAW-2019-03-22_16-44-46.txt
